#foundation {
    background: rgb(245,245,245);
    width: 100vw;
    height: 100vh;
}

#sidebar {
    background-image: url(image/sidebar_background.PNG);
    width: 12vw;
    height: 100vh;
    float: left;
}

#navbar {
    background: linear-gradient(180deg, rgba(241,241,241,1) 0%, rgba(226,226,226,1) 100%);
    float: left;
    width: 79vw;
    height: 4vh;
    margin-top: 8vh; 
    margin-left: 4vw;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(190,190,190);
    border-width: 2px;
}

#courses {
    background: linear-gradient(180deg, rgba(241,241,241,1) 0%, rgba(226,226,226,1) 5%);
    float: left;
    width: 79vw;
    height: 80vh;
    margin-top: 5vh;
    margin-left: 4vw;
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(190,190,190);
    border-width: 2px;
}

#title_courses {
    text-indent: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

#grade {
    background: rgb(250,250,250);
    float: left;
    width: 79vw;
    height: 74.5vh;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

tr:nth-child(odd){background-color: rgb(230, 242, 255)}
tr:nth-child(even){background-color: rgb(250,250,250)}

table, tr, th, td {
    border-radius: 0px;
    border-style: solid;
    border-color: rgb(210,210,210);
    border-width: 2px;
    font-weight: normal;
    height: 4.5vh;
    width: 13vw;
    padding-left: 10px;
    padding-bottom: 7px;
}

th {
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding-right: 234px;
    background-color: blue;
    color: white;
}

table {
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 20px;
}

#first {
    background-color: blue;
    color: white;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
}

#blue_box {
    background: #dbe3ff;
    margin-left: 20px;
    margin-top: 30px;
    width: 76.5vw;
    height: 5vh;
    border-color: #a2b4ee;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    font-weight: lighter;
    padding-left: 10px;
}

#title {
    width: 12vw;
    height: 15vh;
}

#first_tab {
    width: 12.15vw;
    height: 20vh;
}

li {
    list-style-type: none;
    color: white;
    width: 10.7vw;
    height: 30px;
    background: linear-gradient(135deg, rgba(43,133,255,1) 6%, rgba(0,82,255,1) 55%);
    text-align: right;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 10px;
    margin-left: -29px;
}

#tab2 {
    margin-top: -15px;
}